{
    "presets": ["@babel/preset-env" ]
}

// {
// 	"presets" : [
// 		["@babel/preset-env", {
// 			"useBuiltIns" : "usage",
//             "corejs": 3,
//             "targets": {
//                 "ie": "8"
//             },
//             "debug": true
//         }]        
//     ]
    
// }

// {
//     "plugins": ["@babel/plugin-syntax-dynamic-import"]
// }